*{
	padding:0;
	margin:0;
	}

@import url(https://fonts.googleapis.com/css?family=Scope+One);

body {
	background-color:white;
	color:#A4B0B0;
	font-family:'Scope One', serif;
	font-size:16px;/*1em=16px*/
	text-align:center;
	line-height:1;
}

header {
	background-color:#FFED74;
	color:white;
	border:1px black solid;
	padding:20px;
}

section{
	background-color:#FFE2B8;
}


@import url(https://fonts.googleapis.com/css?family=Rozha+One);



h1 {
	font-family: 'Rozha One', serif;
	font-size:3em;
	font-weight: bold;
	font-style:normal;
	text-transform:uppercase;
	height:2em;
	padding: 0px 0;
	
}

h2 
 {
	font-size:2em;
	font-weight: bold;
	font-style:normal;
	text-transform:uppercase;
	height:2em;
	
}

h3 {
	font-size:2em;
	padding:40px 0;
	height:1em;
}


h4 {
	font-size:1em;
}

p {
	font-size:2em;
	width:30em;
	text-align:center;
	margin: 1em auto;
	line-height: 1em;
}


hr {
	border:none;
	height:2px;
	background-color:#5ADBC1;
	width:30em;
	margin:2em auto;
	
}


img { 
	width:500px;
	display:block;
	margin:auto;
	padding-top: 10px;
	 }

nav {
	text-align:center;
	display:block;
	background-color:#E8C66A;
	color:white;
	}

nav :hover {
	background-color: #;
	}

   
.navlinks {
	color:white;
	padding:10px;
	margin:0.5em;
	text-transform:uppercase;
	font-weight:200;
	letter-spacing: 4px;
	text-decoration: none;
	}

ul {
	text-align: center;
	padding:0px 20px;
	font-size: 2em;
}

footer
{
	background-color:#FF957E;
	color:white;
	text-align: center;
	padding:0px 20px;
	margin:auto;
	clear:both;
}
.wrapper
{
	margin-left:auto;
	margin-right:auto;
}

