body {
	background-color:#F0FFFF;
	}
	{
	text-align:center;
	}

h1,h2,h3,p{
	color:#7F525D;
	}
	h1 {font-family:"Abadi MT Condensed Extra Bold", monospace;
	}
	{font-size:40px;
	}
	{font-weight: bold;
	}
	{font-style:italic;
	}
	{text-transform:uppercase
	}

	h2,h3,p {font-family:"Abadi MT Condensed Extra Bold", monospace;
		}
		{font-size:30px;
		}
		{font-weight: bold;
	}

ul{
		color:#7F525D;
		}
		{font-family:"Abadi MT Condensed Extra Bold", monospace;
		}
		{font-size:30px;
		}
		{font-weight: bold;
	}
		